<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="6.1.0" targetFramework="net472" />
  <package id="DevExpress.CodeParser" version="20.1.11" targetFramework="net472" />
  <package id="DevExpress.Data" version="20.1.11" targetFramework="net472" />
  <package id="DevExpress.Data.Desktop" version="20.1.11" targetFramework="net472" />
  <package id="DevExpress.DataAccess" version="20.1.11" targetFramework="net472" />
  <package id="DevExpress.Images" version="20.1.11" targetFramework="net472" />
  <package id="DevExpress.Mvvm" version="20.1.11" targetFramework="net472" />
  <package id="DevExpress.Office.Core" version="20.1.11" targetFramework="net472" />
  <package id="DevExpress.Pdf.Core" version="20.1.11" targetFramework="net472" />
  <package id="DevExpress.Pdf.Drawing" version="20.1.11" targetFramework="net472" />
  <package id="DevExpress.Printing.Core" version="20.1.11" targetFramework="net472" />
  <package id="DevExpress.RichEdit.Core" version="20.1.11" targetFramework="net472" />
  <package id="DevExpress.RichEdit.Export" version="20.1.11" targetFramework="net472" />
  <package id="DevExpress.Wpf.Core" version="20.1.11" targetFramework="net472" />
  <package id="DevExpress.Wpf.Grid.Core" version="20.1.11" targetFramework="net472" />
  <package id="DevExpress.Wpf.Themes.Office2019Colorful" version="20.1.11" targetFramework="net472" />
  <package id="DevExpress.Xpo" version="20.1.11" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net472" />
</packages>